@import url(https://fonts.googleapis.com/css?family=Rubik);
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #EBC9C8;
  font-family: Rubik;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 60px;
  margin: 15px;
}

.links {
  display: flex;
}

.links a {
  color: #DBD2D2;
  font-size: 20px;
  padding: 0;
  margin: 0 20px;
  transition: all 0.3s;
}

.links a:hover {
  color: #7D768C;
}

header {
  min-height: 100vh;
  background: url(images/background.jpg) no-repeat;
  background-size: cover;
}

.banner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container h1 {
  font-size: 180px;
  text-shadow: 5px 5px 2px #000;
  color: #fff;
  margin-bottom: 25vh;
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.about-details {
  width: 50%;
  text-align: justify;
  line-height: 40px;
}

.about-details h2 {
  font-size: 30px;
  text-align: center;
  border-bottom: 4px solid #7D768C;
  padding-bottom: 10px;
}

.about-details p {
  font-size: 20px;
}

#info {
  background-color: #DBD2D2;
  padding: 10px 0;
}

.agent-box h2, .gun-box h2, .map-box h2 {
  text-align: center;
  font-size: 30px;
}

.agent-box .agent-slide {
  position: relative;
  margin: auto;
  width: 33.33%;
  height: 60vh;
  border: 4px solid #fff;
  border-radius: 15px;
}

.agents, .guns, .maps {
  display: none;
}

.agents img {
  margin: auto;
  width: 100%;
  height: 55vh;
  padding: 10px 0;
  object-fit: contain;
}

.agents .caption {
  text-align: center;
  font-size: 20px;
}

.prev, .next {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 0 16px;
  transition: 0.3s ease;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  color: #fff;
}

.gun-map-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0 20px 0;
}

.gun-box .gun-slide, .map-box .map-slide {
  position: relative;
  margin: auto;
  width: 40vw;
  height: 60vh;
  border: 4px solid #fff;
  border-radius: 15px;
}

.guns img, .maps img {
  margin: auto;
  width: 100%;
  height: 55vh;
  padding: 50px;
  object-fit: contain;
}

.guns .caption, .maps .caption {
  text-align: center;
  font-size: 20px;
}

#sys {
  background-color: #EBC9C8;
  padding: 10px 0 50px 0;
}

#sys h2 {
  text-align: center;
  font-size: 30px;
}

.sys-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sys-container .table {
  margin: auto;
  width: 50%;
}

.table, tr, td {
  border: 2px solid #575F71;
  border-collapse: collapse;
  padding: 30px;
}

th {
  font-size: 20px;
  border: 2px solid #DBD2D2;
  border-collapse: collapse;
  padding: 30px;
  color: #DBD2D2;
  background-color: #575F71;
}

td {
  text-align: center;
}

footer {
  background-color: #202020;
  padding: 50px 10px;
  text-align: center;
}

footer p {
  font-size: 16px;
  color: #DBD2D2;
}

@media screen and (min-width:400px) and (max-width:599px){
  header {
    background-position: center;
  }
  .logo {
    width: 40px;
    height: auto;
    margin: 15px 15px 15px 0;
  }
  .links a {
    font-size: 12px;
    margin: 0 10px;
  }
  .container h1 {
    font-size: 70px;
  }
  .about-details {
    width: 80%;
    line-height: 30px;
  }
  .agent-box .agent-slide, .gun-box .gun-slide, .map-box .map-slide {
    width: 80%;
  }
  .gun-map-box {
    flex-direction: column;
  }
  .maps img {
    padding: 55px 35px 0 35px;
  }
  .sys-container {
    overflow-x: auto;
    display: block;
    margin: 0 20px;
  }
}

@media screen and (min-width:600px) and (max-width:800px){
  header {
    background-position: center;
  }
  .logo {
    width: 50px;
    height: auto;
    margin: 15px 15px 15px 0;
  }
  .links a {
    font-size: 20px;
    margin: 0 10px;
  }
  .container h1 {
    font-size: 100px;
  }
  .about-details {
    width: 75%;
    line-height: 30px;
  }
  .agent-box .agent-slide, .gun-box .gun-slide, .map-box .map-slide {
    width: 75%;
  }
  .gun-map-box {
    flex-direction: column;
  }
  .maps img {
    padding: 55px 35px 0 35px;
  }
  .sys-container {
    overflow-x: auto;
    display: block;
    margin: 0 20px;
  }
}